@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--green-500: hsl(158, 36%, 37%);
	--green-700: hsl(158, 42%, 18%);
	--black: hsl(212, 21%, 14%);
	--grey: hsl(228, 12%, 48%);
	--cream: hsl(30, 38%, 92%);
	--white: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--cream);
	width: 100%;
}

main {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1em;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border-radius: 8px 8px 0 0;
	overflow: hidden;
}

.card__image {
	width: 100%;
	height: 370px;
}

.image {
	background-image: url("/images/image-product-mobile.jpg");
	background-size: cover;
	content: "";
	background-position: center;
	width: 100%;
	height: 100%;
}
